<h2>Best Heroes</h2>

@(Html.Kendo()
.Grid<Application.Web.Models.HeroViewModel>()
.Name("heroes-grid")
.Pageable()
.Sortable()
.Columns(col =>
{
    col.Bound(m => m.Name).ClientTemplate(
    "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
    col.Bound(m => m.BattleTag);
    col.Bound(m => m.Damage);
    col.Bound(m => m.Life);
    col.Bound(m => m.Toughness);
    col.Bound(m => m.Healing);
    col.Bound(m => m.HeroClass);
    col.Bound(m => m.ParagonLevel);
})
            .DataSource(data =>
            {
                data.Ajax()
                    .ServerOperation(true)
                    .Read("ReadAllHeroes", "Heroes")
                    .PageSize(10);
            }))