@model Application.Models.Heroes.HeroComment
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Commented by: @Model.Author.UserName</h3>
    </div>
    <div class="panel-body">
        @Model.Content
    </div>
</div>