
<h3>About</h3>
<div class="jumbotron">
    <p>
        Hi guys!<br /> This is my personal project for the web programming course on ASP.MVC in TelerikAcademy 2014 <br />   
        This project is extension for the official Diablo III Fansite: <a href="http://www.d3bg.org/index.php?group=1&cat=0" target="_blank">www.d3bg.org</a><br />
        May be one day this system will be integrated with d3bg.org
    </p>
    <small>~ Dobromir Ivanov - nzhul</small>
</div>